body {
  /* width: 100%; */
  background-color: rgb(221, 249, 246);
  position: absolute;
  top: 0;
  left: 0;
  margin: 10;
  padding: 20px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.kids-container {
  border-radius: 5%;
  border: 5px solid #2f1e72;
  padding: 10px;
  width: 500px; 
  /* width: 1028px; */
  /* margin: 0 auto; */
  position: relative;
  margin-left: 290px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction:column;
  justify-content: space-between;
}

.child-portrait{
  /* border: 1px solid #ddd; */
  border-radius: 70%;
  padding: 5px;
  width: 100px;
  /* border-radius: 15%; */
  /* border:2px solid #2f1e72; */

}

.header{
  text-align: center;
  font-family: 'Bagel Fat One', cursive;
  font-size: 3em;
}
.light{
  color: #9b8fcb;


}